body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 50px 50px 50px;
    background-color: rgb(246, 233, 233);
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.header {
    display: flex;
    justify-content: space-between;
}

#paul_perchard {
    font-size: 40px;
}

p#paul_perchard {
    position: relative;
    padding-bottom: 5px;
    display: inline-block;
}

p#paul_perchard::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #333;
    transition: width 0.3s ease;
}

p#paul_perchard:hover::after {
    width: 100%;
}

a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

a:hover {
    color: #007BFF;
    transform: scale(1.1);
}

.contact-info {
    line-height: 1.8;
}

.contact-info p {
    margin: 0;
}

.company {
    font-size: 20px;
    padding: 50px 0px;
}

.date {
    opacity: 0;
    transform: translateY(-10px);
    animation: slideIn 0.8s ease-out forwards;
    animation-delay: 0.5s;
    text-align: right;
    margin-top: 20px;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.content {
    margin-top: 20px;
}

.content p {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 0.6s forwards;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.content p:nth-child(1) {
    animation-delay: 0.2s;
}

.content p:nth-child(2) {
    animation-delay: 0.4s;
}

.content p:nth-child(3) {
    animation-delay: 0.6s;
}

.content p:nth-child(4) {
    animation-delay: 0.8s;
}

.content p:nth-child(5) {
    animation-delay: 1s;
}

.signature {
    margin-top: 40px;
}

.footer {
    margin-top: 60px;
    text-align: center;
}

.me_contacter a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a88bbd;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.3s ease;
    animation: bounce 1.5s ease infinite;
    width: 13%;
    margin-left: 80%;
}

.me_contacter a:hover {
    background-color: #74609b;
    transform: scale(1.05);
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-10px);
    }

    60% {
        transform: translateY(-5px);
    }
}

@media screen and (max-width: 720px) {
    .me_contacter a {
        width: 35%;
        margin-left: 60%;
    }
}